@using HospitalManagmentSystemWebApp.Models
@using HospitalManagmentSystemWebApp.Models.ViewModels
@model DoctorViewModel
@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    List<SpecializationViewModel> spelializationList = ViewBag.specialization;
    List<DoctorViewModel> doctorList = ViewBag.doctorList;
    
    ViewBag.Title = "Search Doctor";
}




<div>
    @using (@Html.BeginForm( new { id="doctorform" , onsubmit ="ValidationFuction()" }))
{

    <table>
        <tr>

            <td>@Html.Label("Specialization :") </td>
            <td>@Html.DropDownList("Specilization", new SelectList(spelializationList, "Id", "Specialization"), "--Select--")</td>
            <td><button type="submit">Search</button></td>

        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessage("Specilization")</td>
        </tr>


        <tr>
            <td></td>
            <td> <p id="errorMessage"> </p></td>
            <td> <p id="errorMessage1"> </p></td>
        </tr>
    </table>
        
        
    <table class="NiceTable1">
        

        <thead>
        <tr>
            <th>Name </th>
            <th>Specialization</th>
            <th>Available Time</th>

        </tr>
        </thead>

        <tbody>
        @if (doctorList != null)
        {
            foreach (DoctorViewModel doctor in doctorList)
            {
                <tr>
                    <td>@doctor.Name</td>
                    <td>@doctor.Specialization</td>
                    <td>@doctor.AvailableTime</td>
                    <td>@Html.ActionLink("Edit","EditDoctor", new { id = doctor.Id })</td>
                </tr>

            }

        }
        </tbody>
    </table>


    }
    </div>

